/* fonts */

  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

/* text */

  .title1{
    font-family: 'Faster One';
    color: #d13e18;
    font-size: 450% !important;
  }
  .title2{
    font-family: 'Angkor';
    font-size: 440% !important;
    color: #f3a600;
  }
  .title3{
    font-family: 'Creepster';
    font-size: 650% !important;
    /*color:#588a07;*/
    color:#7fb504;
  }
 
  h1, h2 {
    font-family: 'Angkor', cursive;
  }

  h1 {
    font-size: 3.5rem !important;
    margin: 0;
  }

  h2 {
    font-size: 2.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .storyheader {
    color: antiquewhite;
  }

/* body */ 

* {
    box-sizing: border-box;
  }
  
  html {
    scroll-snap-type: y mandatory;
  } 

 .snappy {
    scroll-snap-type: y mandatory;
  } 

  body{
    margin: 0;
    font-family: 'ABeeZee', sans-serif !important; 
  }

  .v-child{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .h-sect{
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    display: flex;
  }

  .h-child{
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .list{
    margin: 0;
  }

  .bg-body {
    opacity: 95%;
    margin:auto
  }

  .story {
    height: 800px;
  }
  
  .emojinote {
    vertical-align: sub;
    font-size: 50px;
  }

  .sidebox {
    margin-top: 225px;
  }

  .card-issue:hover {
    background-color: #000;
    color: fff;
  }

  /* Photos background */

  .intro-slide {
    background-image: url('imgs/brett-jordan-CsZQ50xO35I-unsplash.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  /* Color background */

  .first-slide {
    background-color:#6e01e3;
  }

  .second-slide {
    background-image: url('imgs/erik-mclean-27kCu7bXGEI-unsplash.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .second-half-slide{
    background-color:#6e01e3;
  }

  .carousel0-slide{
    background-image: url('imgs/brett-jordan-CsZQ50xO35I-unsplash.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fourth-slide {
    background-color:#6e01e3;
  }

  .carousel1-slide{
    background-image: url('imgs/jonathan-cooper-OOKnZA6nhqA-unsplash.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sixth-slide {
    background-color:#6e01e3;
  }

  .carousel2-slide{
    background-image: url('imgs/miika-laaksonen-nUL9aPgGvgM-unsplash.jpg');
    min-width: 70%;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .seventh-slide {
    background-color:#6e01e3;
  }

  .carousel3-slide{
    background-image: url('imgs/dev-d2Py_uhXJQo-unsplash.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .eight-slide{
    background-color:#6e01e3;
  }

  /* mobile fixes */ 

  @media (max-width: 425px) {
    .shadow-lg {
      height: 450px !important;
    }

    .p-5 {
      padding: 1.5rem !important;
    }
  }

  @media (max-width: 820px) {
    .shadow-lg {
      height: 750px;
    }
  }



  /*/////////////////////////////////////////////////////*/


  .none{
    display: none !important;
  }

  .inside-slide{
    min-height: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 70%;
  }

  
  #chevron {
   
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 30px;
  }
  #chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 51%;
    background: red;
    transform: skew(0deg, 40deg);
  }
  #chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 10%;
    width: 50%;
    background: red;
    transform: skew(0deg, -40deg);
  }

  .hidden{
    visibility:hidden;
  }

  .downarrow{
    width: 16vh;
    height: 10vh;
    margin-left: 42.6%;
    border: none !important;
    background-color: rgba(126, 30, 30, 0) !important;
  }

  .arrowdown{
    margin-left: 4%;
  }

  .coverpage{
    margin-top: 10%;
    background-color:rgba(0, 0, 0, 0.729)
  }

  .icon_color{
    color: #6e01e3;
    filter: brightness(20%);
  }